// this file contains settings related to the menus throughout this website

.l-region--navigation{
	width: 100%;
	overflow: auto;
	position: relative;
	-webkit-transform: translate3d(0,0,0);

	@include breakpoint(0px 767px, true){
		margin-bottom: 0.25em;
	}

	@include breakpoint(768px, true){
		margin-bottom: 1.5em;
	}
	
	// main menu and mobile main menu
	#block-system-main-menu, #block-menu-menu-mobile-menu{
		position: absolute;
		
		@include breakpoint(480px 767px, true){
			top: 32%;
			right: 5%;
		}
		
		@include breakpoint(768px, true){
			top: 50%;
		}
			
		ul.menu{
			li.leaf{
				display: inline;
				@include breakpoint(480px 1023px, true){
					padding-left: 0.5em;
					padding-right: 0.25em;
				}
				
				@include breakpoint(1024px, true){
					padding-left: 0.75em;
					padding-right: 0.5em;
				}
			}
			
			li.last.leaf{
				@include breakpoint(768px 1023px, true){
					padding-right: 0em;
				}
			}
		}
	}
	
	@include breakpoint(0px 767px, true){
		// main logo
		#block-block-10{
			padding-left: 0.25em;
		}
	}
	
	@include breakpoint(768px 1023px, true){
		@include layout(5){
			// main logo
			#block-block-9{
				@include grid-span(1.35, 1.15);
			}
			
			// main menu
			#block-system-main-menu{
				@include grid-span(3, 2.45);
			}
		}
	}
	
	@include breakpoint(1024px 1199px, true){
		@include layout(6){
			// main logo
			#block-block-6{
				@include grid-span(2, 1);
			}
			
			// main menu
			#block-system-main-menu{
				@include grid-span(3.25, 3.5);
			}
		}
	}
	
	@include breakpoint(1200px, true){
		@include layout(8){
			// main logo
			#block-block-6{
				@include grid-span(3, 1.25);
			}
			
			// main menu
			#block-system-main-menu{
				@include grid-span(4, 4.75);
			}
		}
	}
}

.l-region--footer{
	.view-header{
		height: initial;
		
		// footer menu css settings
		#block-menu-menu-footer-menu{
			
			@include breakpoint(768px 1023px, true){
				padding-top: 3.5em;
			}
			
			@include breakpoint(1024px 1199px, true){
				padding-top: 5.5em;
			}
			
			@include breakpoint(1200, true){
				padding-top: 3.5em;
			}
				
			ul.menu{
				@include dim-set($ploc: padding-left, $mloc: margin-bottom);
				
				li.leaf{
					padding-bottom: 1.25em;
				}
			}
		}
	}
}